@*VenkatReddy Cherkupalli*@

@model IEnumerable<CarService.Models.Service>

@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Table</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New Service</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mechanic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCost)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mechanic.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.VinNumber)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCost)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceID" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceID" class=" btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceID" class="btn btn-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
</div>
