@*VenkatReddy Cherkupalli*@

@model CarService.Models.Vehicle
@{
ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
<h4>Vehicles</h4>
<hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VinNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VinNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<div id="pvServices">
</div>

<div>
<button class="btn btn-outline-primary" onclick="GetVehicleServices(@Model.VehicleID)">Show Services</button> |
<a asp-action="Edit" asp-route-id="@Model.VehicleID" class="btn btn-info">Edit</a> |
<a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
<script>
    function GetVehicleServices(VehicleID) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetVehicleServices", "Vehicles")",
            data: { id: VehicleID },
            success: function (pvHtmlResult) {
                $("#pvServices").html(pvHtmlResult);
            },
            error: function () {
                alert("No services to show at this time.")
            }
        })
}
</script>