@*VenkatReddy Cherkupalli*@

@model IEnumerable<CarService.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-lg">Create New Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VinNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleID" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleID" class="btn btn-info">Details</a> |
                    <a asp-action="DetailsAjax" asp-route-id="@item.VehicleID" class="btn btn-info">Details Ajax</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleID" class="btn btn-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
</div>


@if ((List<Vehicle>)ViewBag.UserActClicks != null)
{
    <table class="table">
    <thead>
    <tr><th>You have clicked on the following VIN:</th></tr>
    </thead>
    <tbody>
            @foreach (var a in (List<Vehicle>)ViewBag.UserActClicks)
            {
        <tr><td>@a.VinNumber</td></tr>
            }
    </tbody>
    </table>
}
else
{
    <h4>You haven't clicked on any VIN Number yet. Please explore!</h4>
}